[user]
    name = Diego Martinelli
    email = (none)
[alias]
    s = status
    f = fetch
    amend = commit --amend
    cm = commit -m
    co = checkout
    d = diff
    ds = diff --cached
    puff = pull --ff-only
    purr = pull --rebase
    lol = log --graph --decorate --pretty=format:'%C(yellow)%h %Cblue[%ar] %Cred%d %Creset%s %Cgreen%an' --abbrev-commit
    lola = log --graph --decorate --pretty=format:'%C(yellow)%h %Cblue[%ar] %Cred%d %Creset%s %Cgreen%an' --abbrev-commit --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[pull]
    rebase = true
[diff]
    tool = vimdiff
[difftool]
    prompt = 0
[merge]
    tool = vimdiff
    conflictstyle = diff3
[core]
    excludesfile = ~/.gitignore

